.noteContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.note{
    width: 400px;
    padding: 20px;
}
.noteTop{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.titleField{
    width: 325px;
}
.noteField{
    width: 400px;
}