.noteContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.note{
    width: 400px;
    padding: 20px;
}
.field{
    width: 400px;
}
.fieldContainer{
    margin-bottom: 20px;
}

@media screen and (max-width:450px){
    .note{
        width: 300px;
    }
    .field{
        width: 300px;
    }
}