.footer{
    background-color: #2A0944;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#FEC260;
    position: fixed;
    bottom:0;
    width: 100%;
}
