.header{
    height: 80px;
    background-color: #2A0944;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    color: #FEC260;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.name{
    font-size: xx-large;
}